@{
    ViewData["Title"] = "Admin Pocetna";
}
<div class="text-center">
    <h1>Dobrodosli, Admine</h1>
    <div class="d-flex flex-column gap-2 align-items-center mt-4">
        <a class="btn btn-primary" asp-controller="Admin" asp-action="Korisnici">Upravljanje korisnicima</a>
        <a class="btn btn-primary" asp-controller="Admin" asp-action="Vozaci">Upravljanje vozacima</a>
        <a class="btn btn-primary" asp-controller="Admin" asp-action="Kamioni">Upravljanje kamionima</a>
        <a class="btn btn-primary" asp-controller="Admin" asp-action="SviNalozi">Pregled svih naloga</a>
    </div>
</div>