@{
    ViewData["Title"] = "Dispecer Pocetna";
}
<div class="text-center">
    <h1>Dobrodosli, Dispeceru</h1>
    <div class="d-flex flex-column gap-2 align-items-center mt-4">
        <a class="btn btn-primary" asp-controller="Dispecer" asp-action="KreiraniNalozi">Kreirani nalozi (za dodelu)</a>
        <a class="btn btn-primary" asp-controller="Dispecer" asp-action="SviNalozi">Pregled svih naloga</a>
    </div>
</div>