@{
    ViewData["Title"] = "Klijent Pocetna";
}
<div class="text-center">
    <h1>Dobrodosli, Klijente</h1>
    <div class="d-flex flex-column gap-2 align-items-center mt-4">
        <a class="btn btn-primary" asp-controller="Klijent" asp-action="NoviNalog">Kreiraj novi nalog</a>
        <a class="btn btn-primary" asp-controller="Klijent" asp-action="MojiNalozi">Moji nalozi</a>
    </div>
</div>
