@{
    ViewData["Title"] = "Pocetna";
}
<div class="text-center">
    <h1>Dobrodosli u sistem za upravljanje transportnim nalozima</h1>
    <div class="mt-4">
        <a class="nav-link text-dark d-inline-block" asp-controller="Nalog" asp-action="Prijava">
            <button class="btn btn-primary">Prijavi se</button>
        </a>
        <a class="nav-link text-dark d-inline-block" asp-controller="Nalog" asp-action="Registracija">
            <button class="btn btn-secondary">Registruj se</button>
        </a>
    </div>
</div>