@model ErrorViewModel
@{
    ViewData["Title"] = "Greška";
}
<div class="text-center">
    <h1 class="text-danger">Greška</h1>
    <h2 class="text-danger">Došlo je do greške prilikom obrade vašeg zahteva.</h2>
</div>

<!-- Views/Shared/ValidationScriptsPartial.cshtml -->
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
